/* mobile */

@media screen and (max-width: 509px) {

    .play-list {
        flex-wrap: wrap;
    }

    .play-list-item {
        width: 100%;
    }
    
}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1330px) {

    .widget {
        border: none;
    }

    .side-bar .widget:nth-child(2) .widget__menu .menu-item:not(:first-child),
    .side-bar .widget:nth-child(3) {
        display: none;
    }

    .widget .widget__title {
        display: none;
    }
}

/* @media screen and (max-width: 890px) {

    .play-list-item {
        width: 33%;
    }
} */

