@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
  }

  main {
      overflow: auto;
  }

  a {
      text-decoration: none;
      color: currentColor;
  }

  /* sidebar */

  .side-bar {
      font-size: 14px;
      overflow: scroll;
  }

  .widget .widget__title {
      margin-bottom: 8px;
      color: #585858;
  }

  /* Categories */

  .main-container .categories {
      font-size: 14px;
  }

  .categories li:hover, .categories .active-alt {
      background-color: #070707;
      color: #f0f0f0;
  }




/* responsive */

@media screen and (min-width: 1141px) and (max-width:1800px) {

    .main-container .categories .ghost-lg {
        display: none;
    }
    
}

@media screen and (min-width: 890px) and (max-width:1140px) {

    .play-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .play-list-item {
        width: 31%;
    }

    .main-container .categories .ghost-mid {
        display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1330px) {
    
    .side-bar {
        width: 80px;
    }
    
    .widget {
        border: none;
    }

    .menu-item {
        flex-direction: column;
        font-size: 12px;
        align-items: center;
    }

    .menu-item .icon {
        margin-right: 0;
    }

    .side-bar .widget:nth-child(1n+2) .widget__menu .menu-item:not(:first-child),
    .side-bar .widget:nth-child(3),
    .side-bar .ghost {
        display: none;
    }

    .widget .widget__title {
        display: none;
    }

}

@media screen and (min-width: 510px) and (max-width: 890px) {

    .play-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .play-list-item {
        width: 48%;
    }

    .main-container .categories .ghost-lg, 
    .main-container .categories .ghost-mid {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }

}


@media screen and (max-width: 509px) {

    .play-list {
        flex-direction: column;
        gap: 20px;
    }

    .play-list-item {
        width: 100%;
    }

    .main-container .categories .ghost-lg, 
    .main-container .categories .ghost-mid,
    .main-container .categories .ghost-xs {
        display: none;
    }


}



