@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
  }

  main {
      overflow: hidden;
  }

  a {
      text-decoration: none;
      color: currentColor;
  }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(229, 229, 229, 0.4); 
    
    box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
}

.flex {
    display: flex;
}

/* navigation bar */

#navbar .nav-bar__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    white-space: nowrap;
}

.nav-bar__wrapper .logo-wrap,
.nav-bar__wrapper .search-bar,
.nav-bar__wrapper .user-menu {
    gap: 20px;
    align-items: center;
}

.logo-wrap .logo {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    padding-right: 20px;
}

.logo-wrap .logo i {
    color: red;
}

.logo-wrap .logo .it {
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 12px;
    font-weight: 100;
}

.nav-bar__wrapper .search-bar {
    margin-right: 20px;
}

.user-menu .icon {
    width: 30px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

.user-menu .profile-image {
    display: block;
    border-radius: 50%;
    width: 24px;
}

/* sidebar */

.side-bar {
    font-size: 14px;
    overflow: hidden;
}

.side-bar:hover {
    overflow-x: hidden;
    overflow-y: scroll;
}

.widget .widget__title {
    margin-bottom: 8px;
    color: #585858;
}

.widget .menu-item .notifica {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.widget .menu-item .notifica i {
    color: #1e62d2;
    font-size: 5px;
}

/* Categories */

.main-container {
    overflow: hidden;
}

.main-container:hover {
    overflow-x: hidden;
    overflow-y:scroll
}

.main-container .categories {
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.categories li:hover, .categories .active-alt {
    background-color: #070707;
    color: #f0f0f0;
}

/* playlist */

.main-container .play-list-wrapper .play-list-title {
    margin-bottom: 30px;
    font-size: 22px;
    padding: 5px 15px;
    font-weight: 500;
}

.main-container .play-list-wrapper .play-list {
    margin-bottom: 35px;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.main-container .play-list-wrapper .play-list:hover {
    cursor: pointer;
}

.main-container .play-list-wrapper::after {
    content: "";
    display: block;
    height: 2px;
    max-width: 100%;
    background-color:  #dfdfdf;
}

.play-list-item .card-header {
    position: relative;
    display: flex;
}

.play-list-item .card-header img {
    flex-grow: 1;
}

.play-list-item .card-header .time-wrap {
    position: absolute;
    right: 5px;
    bottom: 8px;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    z-index: 1;
  }

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
  }

.play-list-item .card-body .info {
    color: #555555;
    font-size: 12px;
}

.card-body .info .info-title {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card-body .info .info-autor {
    margin-bottom: 5px;
}

.card-body .info .info-credit i {
  font-size: 4px;
  vertical-align: middle;
}





/* responsive */

@media screen and (min-width: 1141px) and (max-width:1800px) {

    .main-container .categories .ghost-lg {
        display: none;
    }
    
}

@media screen and (min-width: 890px) and (max-width:1140px) {

    .play-list-item {
        width: 31%;
    }

    .main-container .categories .ghost-mid {
        display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1330px) {
    
    .side-bar {
        width: 80px;
    }
    
    .widget {
        border: none;
    }

    .menu-item {
        flex-direction: column;
        font-size: 12px;
        align-items: center;
    }

    .menu-item .icon {
        margin-right: 0;
    }

    .side-bar .widget:nth-child(1n+2) .widget__menu .menu-item:not(:first-child),
    .side-bar .widget:nth-child(3),
    .side-bar .ghost {
        display: none;
    }

    .widget .widget__title {
        display: none;
    }

}

@media screen and (min-width: 510px) and (max-width: 890px) {

    .play-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .play-list-item {
        width: 47%;
    }

    .main-container .categories .ghost-lg, 
    .main-container .categories .ghost-mid {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }

}

@media screen and (max-width: 509px) {

    .nav-bar__wrapper .search-bar .search-text:first-child :not(i) {
        display: none;
    }

    .play-list {
        flex-direction: column;
        gap: 20px;
    }

    .play-list-item {
        width: 100%;
    }

    .main-container .categories .ghost-lg, 
    .main-container .categories .ghost-mid,
    .main-container .categories .ghost-xs {
        display: none;
    }

}





